extends base 

block content
    .admin-container
        .col_left
            // navigation bar for different management
            nav.admin-nav
                    ul
                        li
                            a(href='/v1/movie') Movie Management
                        li
                            a(href='/v1/user') User Management
                        li
                            a(href='/v1/review') Review Management
        .col_right
            .admin-table
                .funcion_title 
                    h1.admin-heading-primary Manage User
                .search_bar 
                    form(action="/v1/user/", method="GET")
                        .input-group
                            input.form-control(type="text", name="username", placeholder="Search user with username(Please note the case)...")
                            .input-group-append
                                button.admin_btn.admin_btn-primary(type="submit") Search
                .add_new_movie 
                    a.admin_btn.admin_btn-secondary(href="/v1/user/add") Add New User
                    
            .admin-movie-overview 
                table.table.table-hover
                    thead
                        tr
                            th Username
                            th Email
                            th Actions
                    tbody.tbody
                        each user in datas
                            tr
                                td #{user.username}
                                td #{user.email}
                                td
                                    a.admin_btn.admin_btn-third(href=`/v1/user/details/${user._id}`) Details
                                    a.admin_btn.admin_btn-third(href=`/v1/user/edit/${user._id}`) Edit
                                    form.inline-form(action=`/v1/user/delete/${user._id}`, method="POST", style="display:inline;")
                                        button.admin_btn.admin_btn-third(type="submit") Delete
