extends base 

block content
    .detail-container
        .poster
            img.img-fluid(src=`${doc.poster_url}`, alt= `${doc.title}`)

        .movie_information
            .detail-title 
                h2.movie-title #{doc.title}
                h4.movie-year #{doc.year}
                p.movie-genre Genre : &nbsp; #{doc.genre}
                p.movie-director Director : &nbsp; #{doc.director}
                p.movie-rating Rating : &nbsp; #{doc.rating}
            .detail-actor
                h5.movie-actors-title Actors:
                ul.movie-actors-list
                    each actor in doc.actors
                        li #{actor}
            .detail-des 
                h5.movie-description-title Description:
                p.movie-description #{doc.description}
            .detail-button
                a.admin_btn.admin_btn-primary(href="/v1/movie/") Back to Manage Movie

