extends base

block content
    .edit-page
        .edit-container
            .admin-edit-title 
                h1.admin-heading-primary Edit User
            form(method="POST" action=`/v1/user/edit/${user._id}`)
                .edit-form-group
                    label(for="username") Username
                    input#username.form-control(type="text" name="username" value=user.username required)

                .edit-form-group
                    label(for="email") Email
                    input#email.form-control(type="email" name="email" value=user.email required)

                .edit-form-group
                    label(for="photo") Photo URL
                    input#photo.form-control(type="url" name="photo" value=user.photo)

                .edit-form-group
                    label(for="follows") Follows
                    textarea#follows.form-control(name="follows" ) #{user.follows.join('\n')}

                .edit-form-group
                    label(for="was_followed") Was Followed
                    textarea#was_followed.form-control(name="was_followed" ) #{user.was_followed.join('\n')}

                .edit-form-group
                    label(for="registration_date") Registration Date
                    input#registration_date.form-control(type="text" name="registration_date" value=user.registration_date required)

                .edit-button
                    button.admin_btn.admin_btn-primary(type="submit") Update User
