extends base 


mixin overviewBox(label, text, icon)
    .overview-box__detail
        svg.overview-box__icon
            use(xlink:href=`/img/icons.svg#icon-${icon}`)
        span.overview-box__label= label  
        span.overview-box__text= text

mixin reviewCard(review)
    .reviews__card
        .reviews__avatar
            img.reviews__avatar-img(src=`/img/users/${user.photo}`, alt=`${review.user_id.username}`)
            h6.reviews__user #{review.user_id.username}
        p.reviews__text #{review.content}
        .reviews__rating

            each star in [1,2,3,4,5,6,7,8,9,10]
                svg.reviews__star(class=`reviews__star--${review.rating >= star ? 'active' : 'inactiv'}`)
                    use(xlink:href='/img/icons.svg#icon-star')
          



block content 
    section.section-header
        .header__hero
            .header__hero-overlay &nbsp;
            img.header__hero-img(src='/img/movie-back.png', alt='')

        .heading-box
            h1.heading-primary
                span  #{doc.title} 
            //- .heading-box__group
            //-     .heading-box__detail
            //-         svg.heading-box__icon
            //-             use(xlink:href='/img/icons.svg#icon-clock')
            //-         span.heading-box__text year 
            //-     .heading-box__detail
            //-         svg.heading-box__icon
            //-             use(xlink:href='/img/icons.svg#icon-map-pin')
            //-         span.heading-box__text Country

    section.section-description
        .overview-box
            div
                .overview-box__group
                    h2.heading-secondary.ma-bt-lg Quick facts

                    +overviewBox('Genre', `${doc.genre}`, 'trending-up')
                    +overviewBox('Director', `${doc.director}`, 'user')
                    +overviewBox('Year', `${doc.year}`, 'calendar')
                    +overviewBox('Rating', `${doc.rating}`, 'star')

                .overview-box__group
                    h2.heading-secondary.ma-bt-lg Actors 
                    //- each actor in movie.actors
                        img(src=``, alt=`${actor.name}`)
                        span= actor.name
                    
                    each actor in doc.actors
                        .overview-box__detail
                            span.overview-box__label #{actor}
                            
                    

        .description-box
            h2.heading-secondary.ma-bt-lg Description
            //-  - const paragraphs = movie.description.split('\n');
                 each p in paragraphs
                    p.description__text= p
            p.description__text #{doc.description}


    section.section-pictures
        //- each img, i in movie.images
            .picture-box
                img.picture-box__img(src=`${img}`, alt=`movie poster ${i+1}`, class=`picture-box__img--${i+1}`)

        .picture-box
            img.picture-box__img.picture-box__img--1(src=`${doc.poster_url}`, alt=`${doc.title}`)
        .picture-box
            img.picture-box__img.picture-box__img--2(src=`${doc.poster_url}`, alt=`${doc.title}`)
        .picture-box
            img.picture-box__img.picture-box__img--3(src=`${doc.poster_url}`, alt=`${doc.title}`)


       
    //- section.section-map
    //-     //- #map
    //-     .picture-box 
    //-         img(src="https://nbcpalmsprings.com/wp-content/uploads/sites/8/2021/12/BEST-MOVIES-OF-2021.jpeg", alt="")

    section.section-reviews
        .reviews
            each review in doc.reviews
           
                +reviewCard(review)
            
            
            


    section.section-cta
        .cta
            .cta__img.cta__img--logo
                img(src='/img/white-logo.png', alt='Natours logo')
            img.cta__img.cta__img--1(src='/img/movie-logo1.jpg', alt='Tour picture')
            img.cta__img.cta__img--2(src='/img/movie-logo2.jpg', alt='Tour picture')
            .cta__content
                h2.heading-secondary Have you watched it?
                p.cta__text  Make your own review!
                a(href='#', id='add-review-btn')
                    button.btn.btn--green.span-all-rows Add a Review!  

    
    .review-form-modal.hidden
        section.section-review-form
            .review-form-container
                h2.heading-secondary.review-form-title Add your review
                form.review-form(action=`/review/${doc._id}` method="POST")
                    .review-form-group
                        label(for="rating") Rating:
                        input#rating.review-form-control(type="number" name="rating" min="1" max="10" step="0.1" required)
                    .review-form-group
                        label(for="content") Review:
                        textarea#content.review-form-control(name="content" rows="5")
                    .review-form-group.review-form-button
                        button.btn.btn--green(type="submit") Submit Review

//- 
    
                