extends base


block content 

    main.main
        .filter-container
            .filer-form
                form.filter-selector(method='GET', action='/movie')
                    .filter-form__group
                        label(for='genre') Genre
                        input.filter-form__input#genre(name='genre', type='text', placeholder='Enter genre')
                        input.btn.btn--green.btn--small(type='submit', value='Filter')

        .card-container 

            each movie in datas
                .card 
                    .card__header 
                        .card__picture 
                            .card__picture-overlay &nbsp;
                            img.card__picture-img(src=`${movie.poster_url}`, alt=`${movie.title}`)  
                            //- 本作业内图片路径为http链接，后续需修改 src=`${movie.imageCover}`
                        h3.heading-tertirary 
                            span #{movie.title}

                    .card__details 
                        h4.card__sub-heading= `About ${movie.title}`
                        //-  =`${movie.xxx}` 以上
                        - const description = movie.description.split('.');
                        p.card__text= description[0] + '...'
                        .card__data 
                            img.card__icon(src="/img/genre.png", alt="")
                            span= movie.genre 
                        .card__data
                            img.card__icon(src="/img/calendar.png", alt="") 
                            span= movie.year
                        .card__data 
                            img.card__icon(src="/img/director.png", alt="") 
                            span= movie.director
                        .card__data 
                            img.card__icon(src="/img/actor.png", alt="") 
                            span= movie.actors

                    .card__footer 
                        p 
                            span.card__footer-value #{movie.ratingsQuantity}
                            | 
                            span.card__footer-text ratings 
                        p.card__ratings  
                            span.card__footer-value= movie.rating
                            | 
                            span.card__footer-text rating (21)
                        a.btn.btn--green.btn--small(href=`/movie/${movie.slug}`) Details 